

<div class="container content">
  <h3>Hello<span>Valentin Petit</span></h3>
  <h4>Your Winx</h4>

  <nav class="menu-flottant">
    <ul>
      <li><span><i class="fas fa-cart-arrow-down"></i></span><a href="#">Acheter</a></li>
      <li><span><i class="fas fa-calendar-alt"></i>
      </span><a href="#">Réserver</a></li>
      <li><span><i class="fas fa-question"></i></span><a href="#">En savoir plus</a></li>
      <li><span><i class="fas fa-cart-arrow-down"></i></span><a href="#">Acheter</a></li>
    </ul>
  </nav>
    <div class="row contentDiv">
    
      <div class="col-4"><div><app-mypipeline></app-mypipeline></div></div>
      <div class="col-8"><div><app-mypipeline></app-mypipeline></div></div>
    </div>
    <div class="row pt-3 contentDiv">
    
      <div class="col-4"><div></div></div>
      <div class="col-8"><div><app-items-approve></app-items-approve></div></div>
    </div>
  </div>
