

  <div class="d-flex justify-content-between footerMenu text-center col-md-6 offset-md-3 p-0 fixed-bottom mb-4">
    <span><div><i class="fa fa-plus"></i></div></span>
    <div><i class="fa fa-envelope"></i></div>
    <div><i class="fa fa-envelope"></i></div>
    <div><i class="fa fa-envelope"></i></div>
    <div><i class="fa fa-envelope"></i></div>
    <div class="position-relative"><i class="fa fa-envelope"></i>  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-notif">
     33
      <span class="visually-hidden">unread messages</span>
    </span></div>
    <div><i class="fa fa-envelope"></i></div>
    <div class="active"><i class="fa fa-envelope"></i></div>
    <div><i class="fa fa-envelope"></i></div>
  </div>