<div class="navbar">

  <div class="search-bar">
 
            <div class="input-group">
                <input class="form-control border-end-0 border" type="search" value="searching for ...." id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
   
  </div>
  </div>
 
  <div class="form-check form-switch">
    <input class="form-check-input position-relative" type="checkbox" role="darkMode" id="flexSwitchCheckDefault">
    <label class="form-check-label  pt-1" for="flexSwitchCheckDefaul "><i class="fa fa-sun-o" aria-hidden="true"></i></label>
  </div>
  
  <div><select class="form-select" aria-label="Default select example">
  <option selected>En</option>
  <option value="1">Fr</option>

</select></div>
<div class="profil"><a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="nomProfil">Valentin Petit</span><b class="caret caretNotification"></b><img class="img-circle imageNotification" src="assets/img/woman-3.png" alt="People"> </a>
</div>
<div class="btnNav"><button class="btnwinx">Ask Winx</button></div>
</div>