<html>

<div class="container-fluid">
  <div class="sidebar">
    <ul>
      <li class="menuCenter"> <a href="#" class="logo">LOGO</a></li>
      <li class="menuCenter"> <a href="#" class="menuHome"> <i class="fa fa-envelope"></i>My WinX</a></li>
      <li  class="menuTitle"><a href="#">Visualize</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Dashboards</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Reports</a></li>
      <li  class="menuTitle"><a href="#" >Admin</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Organization</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Profiles</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Resources</a></li>
      <li  class="menuTitle"><a href="#" >Sales</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Accounts</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Contacts</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Opportunities</a></li>
      <li  class="menuTitle"><a href="#" >RIA</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Risks</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Issues</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Activities</a></li>
      <li  class="menuTitle"><a href="#" >Enablers</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Documents</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Expenses</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Time</a></li>
      <li><a href="#"> <i class="fa fa-envelope"></i>Approvals</a></li>
    </ul>
  </div>

  <!-- <div class="d-flex">
    <div class="p-2 flex-fill">Flex item with a lot of content</div>
    <div class="p-2 flex-fill">Flex item</div>
    <div class="p-2 flex-fill">Flex item</div>
  </div> -->
</div>
</html>