/* You can add global styles to this file, and also import other style files */

a{
	text-decoration:none!important;
}
html, body {
    background-color: #f2ebe1!important;
}

p, h1, h2, h2, h3, h4, h5, ul li {
    font-family: "Open Sans",sans-serif;
	 font-size: 14px;

	 
}